{% extends 'problems/base.html' %}

{% block content %}
<main class="mt-5 d-flex justify-content-center pb-5">
    <div class="problem-wrapper bg-light rounded border">
        <h1 class="text-center mt-5 p-2">{{ problem['name'] }}</h1>
        <p class="px-5 pt-2 h6 text-muted text-center">{{ problem['description']|safe }}</p>

        {% for sample in samples %}
            <div class="sample px-5 pt-5">
                <div class="card">
                  <div class="card-header p-2">Input</div>
                  <div class="card-body p-2">
                     <p class="card-text">{{ sample['input'] }}</p>
                  </div>
                </div>
                <div class="card mt-1">
                  <div class="card-header p-2">Output</div>
                  <div class="card-body p-2">
                     <p class="card-text">{{ sample['output'] }}</p>
                  </div>
                </div>
            </div>
        {% endfor %}

        <div class="form-group m-5 border">
            <textarea class="form-control notInfiniteCodeMirror" id="editor"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-secondary btn-lg" id="submit-button" onclick="submitClick()">Submit</button>
        </div>
    </div>
    <div class="side-wrapper bg-light rounded border ml-5">
        <div class="border text-center py-3">
            <h4>Attempts: {{ attempt_counts }}</h4>
        </div>
        {% for attempt in attempts %}
            <div class="attempt-info border">
                <div class="two-inline-blocks pb-3">
                    <div class="pl-4 pt-3">
                        <div class="attempt-result">
                            {% if attempt.status is false %}
                                {{ attempt.error }}
                            {% else %}
                                {% if attempt.accepted %}
                                    Accepted
                                {% else %}
                                    Wrong Answer
                                {% endif %}
                            {% endif %}
                        </div>
                        <p class="failed-task pt-2">
                            {% if attempt.accepted is false and attempt.failed_case != 0 %}
                                Failed on case {{ attempt.failed_case }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="attempt-date pt-3 pr-4">
                        2021-10-31 15:56:37
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</main> 
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('problems_bp.static', filename='codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('problems_bp.static', filename='codemirror/mode/clike/clike.js') }}"></script>
    <script src="{{ url_for('problems_bp.static', filename='codemirror/addon/edit/closebrackets.js') }}"></script>
    <script>
        window.PAYLOAD = {{ payload|safe }}
    </script>
    <script src="{{ url_for('problems_bp.static', filename='js/backend.js') }}"></script>
{% endblock %}